<!DOCTYPE html>
<html>
  <head>
    <title>NİMBO</title>




    
    <%= csrf_meta_tags %>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "Nimbo", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
    </nav>
      </div>
    </div>
  </header>
    <div class="container">
      <%= render "layouts/navbar" %>
      <%= yield %>
    </div>
  </body>
</html>